.deps/
.libs/
.dirstamp
*.a
*.o
*.la
*.lo
*.log
*.trs
check_feature
check_format
check_module
check_quad
check_reader
check_term
check_triple
check_version
check_writer
check_writer_jsonld
check_writer_nquads
check_writer_rdfxml
check_writer_trig
check_writer_trix
check_writer_turtle
